<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="Base::Layout(~{::title}, ~{::body})">
<!-- <html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{ Base::Layout(~{::title}, ~{::body}) }"> -->

<head>
	<meta charset="ISO-8859-1">
	<title>adminProfileEdit</title>
</head>

<body>

	<section>

		<div class="container p-5">
			<div class="row justify-content-center">

				<div class="col-md-6">
					<div class="card animated-card shadow p-3 mb-5 bg-body rounded">

						<!-- ======= card-body ========= -->
						<div class="card-body">

							<p class="text-center fs-3">Edit Admin Profile</p>

							<th:block th:if="${session.msg}">
								<p class="text-center text-success fs-5">[[${session.msg}]]</p>

								<!-- ======= But yo mathi ko message(text) lai remove garna yesto garne ========== -->
								<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>

							</th:block>


							<form action="/admin/updateProfile" method="post" th:object="${adminModel}"
								onsubmit="return validateForm()">

								<div class="mb-3">
									<div class="row">
										<div class="col-6">
											<label class="form-label">Full Name</label>
											<div class="input-group">
												<input type="text" th:field="*{fullName}" class="form-control"
													placeholder="Enter Full Name" required>
											</div>
										</div>
										<div class="col-6">
											<label class="form-label">Mobile No.</label>
											<div class="input-group">
												<input type="text" th:field="*{mobileNumber}" class="form-control"
													id="mobileNumber " placeholder="Enter Mobile Number" required>
											</div>
											<span id="mobileNumberError" class="error"></span>
										</div>
									</div>
								</div>

								<div class="mb-3">
									<div class="row">
										<div class="col-6">
											<label class="form-label">Date of Birth</label>
											<div class="input-group">
												<input type="date" th:field="*{dob}" class="form-control"
													placeholder="Enter Date of Birth" required>
											</div>
										</div>
										<div class="col-6">
											<label class="form-label">Gender</label>
											<div class="input-group">
												<select th:field="*{gender}" class="form-control" required>
													<option value="">--Select--</option>
													<option value="male">Male</option>
													<option value="female">Female</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<!--<div class="mb-3">
									<div class="row">
										<div class="col-12">
											<label class="form-label">Email</label>
											<div class="input-group">
												<span class="input-group-text"><i
														class="fa-solid fa-envelope"></i></span>
												<input type="email" th:field="*{user.email}" id="email" class="form-control"
													placeholder="Enter Email" required>
											</div>
											<span id="emailError" class="error"></span>
										</div>
									</div>
								</div>-->


								<div class="text-start">
									<!-- <button class="btn" style="background-color: #2E86C1; color: white;">Update</button> -->
									<input type="submit" value="Update" class="btn px-4"
										style="background-color: #2E86C1; color: white;">
								</div>

								<input type="hidden" th:field="*{id}">
								<!--<input type="hidden" th:field="*{user}">-->
								
								<!-- === user hidden nagarye yo vitra jo jo hidden garnu xa tyo hidden garne, mathi user rakhera shortcut gardeko, natra yesari garne-->
								<input type="hidden" th:field="*{user.id}">
								<input type="hidden" th:field="*{user.password}">
								<input type="hidden" th:field="*{user.role}">
								<input type="hidden" th:field="*{user.email}">
								
							</form>
						</div>


					</div>
				</div>
			</div>
		</div>

	</section>


	<!--  ====== Script Start[Form Validation For Doctor Details] =============== -->
	<script>
		function validateForm() {
			var mobileNumber = document.getElementById("mobileNumber ").value;

			document.getElementById("mobileNumberError").textContent = "";

			// Regular expression for validating international mobile numbers
			var mobileNumberRegex = /^(?:\+?\d{1,3}[\s-]?)?(?:\d{3}[\s-]?)?\d{3}[\s-]?\d{4}$/;

			if (!mobileNumberRegex.test(mobileNumber)) {
				document.getElementById("mobileNumberError").textContent = "Please enter a valid mobile number";
				return false;
			}

			return true;
		}
	</script>
	<!--  ====== Script End[Form Validation for Doctor Details]  ================== -->

</body>

</html>