<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="Base::Layout(~{::title}, ~{::body})">
<!-- <html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{ Base::Layout(~{::title}, ~{::body}) }"> -->

<head>
	<meta charset="ISO-8859-1">
	<title>changePassword</title>
</head>

<body>

	<section>

		<div class="container p-5">
			<div class="row">
				<div class="col-md-5 offset-md-3">
					<div class="card animated-card shadow p-3 mb-5 bg-body rounded">

						<!-- ======= card-body ========= -->
						<div class="card-body">

							<p class="text-center fs-3">Change Password</p>

							<th:block th:if="${session.msg}">
								<p class="text-center text-danger fs-5">[[${session.msg}]]</p>

								<!-- ======= But yo mathi ko message(text) lai remove garna yesto garne ========== -->
								<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>

							</th:block>

							<!-- ======== Change Password Form Without Login Start ========= -->
							<th:block th:if="${u == null}">
								<form action="/changePassword" method="POST" onsubmit="return validateForm()">

									<div class="mb-3">
										<label>New Password</label>
										<div class="input-group">
											<input type="password" name="newPassword" id="password" class="form-control"
												placeholder="Enter New Password" required>

											<!-- ===== show/hide password ===== -->
											<button type="button" class="btn" style="border-color: #ccc;"
												onclick="togglePasswordVisibility(this)">
												<i class="fa-solid fa-eye-slash"></i>
											</button>
										</div>
										<span id="passwordError" class="error"></span>
									</div>

									<div class="mb-3">
										<label>Confirm Password</label>
										<div class="input-group">
											<input type="password" name="confirmPassword" id="confirmPassword"
												class="form-control" placeholder="Confirm New Password" required>

											<!-- ===== show/hide password ===== -->
											<button type="button" class="btn" style="border-color: #ccc;"
												onclick="togglePasswordVisibility(this)">
												<i class="fa-solid fa-eye-slash"></i>
											</button>
										</div>
										<span id="confirmPasswordError" class="error"></span>
									</div>


									<input type="submit" value="Change" class="btn btn-sm btn-primary">
									<a href="/signin" class="btn btn-sm btn-light">Cancel</a>

									<input type="hidden" name="id" th:value="${userModel.id}">
									<input type="hidden" name="email" th:value="${userModel.email}">
									<input type="hidden" name="role" th:value="${userModel.role}">

								</form>
							</th:block>
							<!-- ======== Change Password Form Without Login End ========= -->

							<!-- ========================================================== -->

							<!-- ======== Change Password Form In LoginMode Start ========= -->
							<th:block th:if="${u != null}">
								<form action="/changePassword" method="POST" onsubmit="return validateForm()">

									<div class="mb-3">
										<label>Current Password</label>
										<div class="input-group">
											<input type="password" name="currentPassword" id="currentPassword"
												class="form-control" placeholder="Enter Current Password" required>

											<!-- ===== show/hide password ===== -->
											<button type="button" class="btn" style="border-color: #ccc;"
												onclick="togglePasswordVisibility(this)">
												<i class="fa-solid fa-eye-slash"></i>
											</button>
										</div>
										<span id="passwordError" class="error"></span>
									</div>

									<div class="mb-3">
										<label>New Password</label>
										<div class="input-group">
											<input type="password" name="newPassword" id="password" class="form-control"
												placeholder="Enter New Password" required>

											<!-- ===== show/hide password ===== -->
											<button type="button" class="btn" style="border-color: #ccc;"
												onclick="togglePasswordVisibility(this)">
												<i class="fa-solid fa-eye-slash"></i>
											</button>
										</div>
										<span id="passwordError" class="error"></span>
									</div>

									<div class="mb-3">
										<label>Confirm Password</label>
										<div class="input-group">
											<input type="password" name="confirmPassword" id="confirmPassword"
												class="form-control" placeholder="Confirm New Password" required>

											<!-- ===== show/hide password ===== -->
											<button type="button" class="btn" style="border-color: #ccc;"
												onclick="togglePasswordVisibility(this)">
												<i class="fa-solid fa-eye-slash"></i>
											</button>
										</div>
										<span id="confirmPasswordError" class="error"></span>
									</div>


									<input type="submit" value="Change" class="btn btn-sm btn-primary">
									<!-- <a href="/signin" class="btn btn-sm btn-light">Cancel</a> -->
									<a href="/" class="btn btn-sm btn-light">Cancel</a>

									<input type="hidden" name="id" th:value="${userModel.id}">
									<input type="hidden" name="email" th:value="${userModel.email}">
									<input type="hidden" name="role" th:value="${userModel.role}">

								</form>
							</th:block>
							<!-- ======== Change Password Form In LoginMode End ========= -->

						</div>

						<!-- ======= card-body[needed] ========= -->

					</div>
				</div>
			</div>
		</div>

	</section>

	<!--  ====== Script Start[Form Validation For All Fields] =============== -->
	<script>
		function validateForm() {
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirmPassword").value;

			document.getElementById("passwordError").textContent = "";
			document.getElementById("confirmPasswordError").textContent = "";


			// Password validation
			if (password.length < 8) {
				document.getElementById("passwordError").textContent = "Password must be at least 8 characters long";
				return false;
			}

			// Password strength check
			var passwordStrengthRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&^_])[A-Za-z\d@$!%*?&^_]+$/;

			if (!passwordStrengthRegex.test(password)) {
				document.getElementById("passwordError").textContent = "Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character";
				return false;
			}

			if (password !== confirmPassword) {
				document.getElementById("confirmPasswordError").textContent = "Passwords do not match";
				return false;
			}

			return true;
		}
	</script>
	<!--  ====== Script End[Form Validation for All Fields]  ================== -->


</body>

</html>