<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="Base::Layout(~{::title}, ~{::section})">
<!-- <html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{ Base::Layout(~{::title}, ~{::section}) }"> -->

<head>
	<meta charset="ISO-8859-1">
	<title>login</title>
</head>

<body>

	<section>

		<div class="container p-5">
			<div class="row">
				<div class="col-md-5 offset-md-3">
					<div class="card animated-card shadow p-3 mb-5 bg-body rounded">

						<!-- ======= card-body ========= -->
						<div class="card-body">

							<!--<h3>[[${session.LoginName}]]</h3>-->
							<p class="text-center fs-3">[[${session.LoginName}]]</p>

							<th:block th:if="${param.error}">

								<!-- <p class="text-center text-danger fs-5">Incorrect email or password..!!</p> -->
								<p class="text-center text-danger fs-5">
									[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>

							</th:block>

							<!-- ==== For Password Change Message ======== -->
							<th:block th:if="${session.msg}">
								<p class="text-center text-success fs-5">[[${session.msg}]]</p>

								<!-- ======= But yo mathi ko message(text) lai remove garna yesto garne ========== -->
								<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>

							</th:block>

							<form action="/uLogin" method="post">
								<div class="mb-3">
									<label class="form-label">Enter Email</label>
									<div class="input-group">
										<span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
										<input type="email" name="username" class="form-control"
											placeholder="Enter Email" required>
									</div>
								</div>

								<div class="mb-2">
									<label class="form-label">Enter Password</label>
									<div class="input-group">
										<span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
										<input type="password" name="password" class="form-control"
											placeholder="Enter Password" required>

										<!-- ===== show/hide password ===== -->
										<button type="button" class="btn" style="border-color: #ccc;"
											onclick="togglePasswordVisibility(this)">
											<i class="fa-solid fa-eye-slash"></i>
										</button>

									</div>
								</div>

								<!-- ======= Forgot Password link ======= -->
								<div class="mb-2 fst-italic">
									<a href="/forgotPassword" class="text-decoration-none">Forgot Password?</a>
								</div>


								<!-- <button class="btn col-12" style="background-color: #2E86C1; color: white;">Login</button> -->
								<input type="submit" value="Login" class="btn col-12"
									style="background-color: #2E86C1; color: white;">

							</form>

							<!-- <th:block th:if="${url != null}"> -->
							<!--<th:block th:if="${url}">-->
							<th:block th:if="${url == '/userSignup'}">
								<div class="mt-2 text-center">
									<p class="fs-6 mb-2">
										Don't have an account? <a th:href="${url}"
											class="text-decoration-none fst-italic">Signup
											here!</a>
									</p>
								</div>
							</th:block>

						</div>

					</div>
				</div>
			</div>
		</div>

	</section>

</body>

</html>