<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="Base::Layout(~{::title}, ~{::body})">
<!-- <html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{ Base::Layout(~{::title}, ~{::body}) }"> -->


<head>
	<meta charset="ISO-8859-1">
	<title>userAppointment</title>
</head>

<body>

	<section>

		<div class="container p-3">
			<div class="row mt-3">
				<div class="col-md-5 mt-3">
					<img src="/images/doctorI1.jpg" width="100%">
				</div>

				<div class="col-md-7 mt-3">
					<div class="card animated-card shadow p-2 mb-0 bg-body rounded">

						<!-- ======= card-body ========= -->
						<div class="card-body">

							<p class="text-center fs-3">User Appointment</p>

							<th:block th:if="${session.msg}">
								<p class="text-center text-success fs-5">[[${session.msg}]]</p>

								<!-- ======= But yo mathi ko message(text) lai remove garna yesto garne ========== -->
								<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>

							</th:block>

							<form action="/user/addAppointment" method="post" onsubmit="return validateForm()">

								<input type="hidden" name="user" th:value="${u.id}">

								<div class="mb-3">
									<div class="row">
										<div class="col-6">
											<label class="form-label">Full Name</label>
											<div class="input-group">
												<input type="text" name="fullName" class="form-control"
													placeholder="Enter Full Name" required>
											</div>
										</div>
										<div class="col-6">
											<label class="form-label">Age</label>
											<div class="input-group">
												<!--<input type="number" name="age" class="form-control" required>-->
												<input type="text" name="age" pattern="\d+(\.\d+)?" class="form-control"
													placeholder="Enter Age" required>
											</div>
										</div>

									</div>
								</div>

								<div class="mb-3">
									<div class="row">
										<div class="col-6">
											<label class="form-label">Gender</label>
											<div class="input-group">
												<select name="gender" class="form-control" required>
													<option value="">--Select--</option>
													<option value="male">Male</option>
													<option value="female">Female</option>
													<option value="other">Other</option>
												</select>
											</div>
										</div>
										<div class="col-6">
											<label class="form-label">Appointment Date</label>
											<div class="input-group">
												<input type="date" name="appointmentDate" class="form-control" required>
											</div>
										</div>
									</div>
								</div>

								<div class="mb-3">
									<div class="row">
										<div class="col-6">
											<label class="form-label">Email</label>
											<div class="input-group">
												<input type="email" name="email" id="email" class="form-control"
													placeholder="Enter Email" required>
											</div>
											<span id="emailError" class="error"></span>
										</div>
										<div class="col-6">
											<label class="form-label">Mobile No.</label>
											<div class="input-group">
												<input type="text" name="mobileNumber" class="form-control"
													id="mobileNumber " placeholder="Enter Mobile Number" required>
											</div>
											<span id="mobileNumberError" class="error"></span>
										</div>
									</div>
								</div>

								<div class="mb-3">
									<div class="row">
										<div class="col-6">
											<label class="form-label">Diseases</label>
											<div class="input-group">
												<input type="text" name="diseases" class="form-control"
													placeholder="Enter Disease" required>
											</div>
										</div>

										<div class="col-6">
											<label class="form-label">Doctor</label>
											<div class="input-group">
												<select name="doctor" class="form-control" required>
													<option value="">--Select--</option>
													<option th:each="d:${dList}" th:value="${d.id}">[[${d.fullName}]]
														([[${d.specialist.specialistName}]])</option>

												</select>
											</div>
										</div>
									</div>
								</div>


								<div class="mb-3">
									<div class="row">
										<div class="col-12">
											<label class="form-label">Address</label>
											<div class="input-group">
												<textarea rows="3" name="address" class="form-control"
													placeholder="Enter your full address where you live"
													required></textarea>
											</div>
										</div>
									</div>
								</div>

								<div class="text-center">
									<!-- <button class="btn" style="background-color: #2E86C1; color: white;">Submit</button> -->
									<input type="submit" value="Submit" class="btn"
										style="background-color: #2E86C1; color: white;">
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- =========== Footer Start ==============  -->
		<div class="container-fluid text-center text-white myBgColor">
			<!--<p class="py-2">© 2024 Hospital Management System. All rights reserved.</p>-->
			<p class="py-2">© 2024 Designed by <span style="font-weight: 600;">Deepak Baij</span>. All rights reserved.
			</p>
		</div>
		<!-- =========== Footer Start ==============  -->

	</section>


	<!--  ====== Script Start[Form Validation For Doctor Details] =============== -->
	<script>
		function validateForm() {
			var mobileNumber = document.getElementById("mobileNumber ").value;
			var email = document.getElementById("email").value;

			document.getElementById("mobileNumberError").textContent = "";
			document.getElementById("emailError").textContent = "";

			// Regular expression for validating international mobile numbers
			var mobileNumberRegex = /^(?:\+?\d{1,3}[\s-]?)?(?:\d{3}[\s-]?)?\d{3}[\s-]?\d{4}$/;

			if (!mobileNumberRegex.test(mobileNumber)) {
				document.getElementById("mobileNumberError").textContent = "Please enter a valid mobile number";
				return false;
			}


			var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

			if (!emailRegex.test(email)) {
				document.getElementById("emailError").textContent = "Please enter a valid email address";
				return false;
			}


			return true;
		}
	</script>
	<!--  ====== Script End[Form Validation for Doctor Details]  ================== -->

</body>

</html>